.root__footer {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.footer {
  margin-top: 5.56rem;
}
.footer .footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2.5rem 0 2.4375rem 0;
}
.footer .footer__top > div {
    padding-right: 1.25rem;
}
.footer .footer__top .payment {
  grid-column: 2 / 3;
  padding-right: 0;
}
.footer .footer__top .payment img {
  margin-right: 1.125rem;
  margin-bottom: 0.6875rem;
  vertical-align: middle;
}
.footer .footer__bottom {
  padding: 2.25rem 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer__bottom img {
  width: 13%;
}
.footer h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.5625rem;
}
